.links{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 10px;
    z-index: 2;
    
    
}
.links> a{
    flex-shrink: 2;
    margin-right: 15px; 
    text-decoration: none;
    color: #202124;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.SearchDiv{
    
    display: flex;
    justify-content: center;
    
    margin: 15px auto;
    width: 584px;
    width: auto;
    max-width: 584px;}

    #Searchbox{
        flex: 1;
    display: flex;
    flex-shrink: 10;
    padding: 3px 8px 0 25px;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    font-size: 17px;
    font-family: arial,sans-serif;
    color: #202124;

    }
    .Buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }
    .Buttons > input{
        background-color: #f8f9fa;
        border: 1px solid #f8f9fa;
        border-radius: 4px;
        color: #3c4043;
        font-family: arial,sans-serif;
        font-size: 14px;
        margin: 11px 4px;
        padding: 0 16px;
        line-height: 27px;
        height: 36px;
        min-width: 54px;
        text-align: center;
        cursor: pointer;
        user-select: none;
    }
    #googlelogo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 20vh;
    }
    #googleimagelogo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 20vh;

    }
    #logotext{
        color: #4285f4;
        font: 16px/16px roboto-regular, arial, sans-serif;
        position: relative;
        left: -60px;
        bottom: -40px;
        white-space: nowrap;
    }

    #googlelogoiadvanced{
        
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-content: center;
       
    }
    #logo{

        height: 20px;
        width: 61.728395061728px;
        padding: 10px;

    }
    #ADvancedSearchText{
        font-family: arial,sans-serif;
        color: #d93025;
font-size: 17px;
margin: 25px 35px;
    }
    .line{
        border-bottom: 1px solid #ebebeb;
    }
    #googlelogoiadvanced{
        width: 100%;
        display: flex;
        justify-content: flex-start;
       
    }
    #logo{

        height: 20px;
        width: 61.728395061728px;
        padding: 10px;

    }
    #ADvancedSearchText{
        font-family: arial,sans-serif;
        color: #d93025;
font-size: 17px;
margin: 25px 35px;
    }
    .line{
        border-bottom: 1px solid #ebebeb;
    }
    .horizontaldivs{
        display : flex; 
        flex-direction: row; 
        justify-content: flex-start; 
        align-self: center;
        
    }
    .first_text_in_row{
            float: left;
            padding-top: 5px;
            display: inline-block;
            min-width: 167px;
            width: 16%;
            height: 42px;
            color: #222;
            font-size: 13px;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 16px;
            vertical-align: middle;
    }
    .input_in_row_div{
            float: left;
            display: inline-block;
            
            min-width: 167px;
            min-height: 41px;
            vertical-align: middle;
            width: 50%;

    }
    .INPUTSTYLE{
            border-radius: 1px;
            border: 1px solid #d9d9d9;
            border-top: 1px solid #c0c0c0;
            font-size: 13px;
            width: 400px;
            height: 25px;
            padding: 1px 8px;

    }
    .last_text_in_row{
            float: left;
            display: inline-block;
            width: 32%;
            min-width: 160px;
            margin: 0 0 8px 1%;
            color: #555;
            font-size: 11px;
            font-family: Arial, Helvetica, sans-serif;
            padding-left: 5px;
            padding-top: -3px;
            vertical-align: middle;
            position: relative;align-self: center;

    }
    .tworowinput{
        float: left;
        display: flex;
            
            min-width: 167px;
            min-height: 41px;
            vertical-align: middle;
            width: 50%;
    }
    .twolastinputs{
            border-radius: 1px;
            border: 1px solid #d9d9d9;
            border-top: 1px solid #c0c0c0;
            font-size: 13px;
            width: 160px;
            height: 25px;
            padding: 1px 8px;

    }
    #textbetweeninputs{
        margin-left: auto;
        margin-right: auto;
        margin-top: 2px;
         font-size: 13px;
         font-family: Arial, Helvetica, sans-serif;

    }

    .searchbuttoncontainer{
        line-height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 30px;
        min-width: 120px;
        

}
#searchbutton{
            box-shadow: none;
            background-color: #4d90fe;
            background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
            border: 1px solid #3079ed;
            color: #fff;
            border-radius: 2px;
            cursor: default;
            font-size: 11px;
            font-weight: bold;
            text-align: center;
            white-space: nowrap;font-family: Arial, Helvetica, sans-serif; width: 120px; height: 28px;margin-left: auto;

}



  
